on:
  workflow_call:

jobs:
  bvt-nvhpc:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: free disk space
      uses: jlumbroso/free-disk-space@v1.3.1

    # - name: install meson
    #   # FIXME: install from upstream once https://github.com/mesonbuild/meson/pull/15353 is released
    #   run: pipx install git+https://github.com/mesonbuild/meson@02b85a846629090a0c7f18e860bab0a10ea4349b

    - name: install NVHPC 25.11
      run: |
        curl https://developer.download.nvidia.com/hpc-sdk/ubuntu/DEB-GPG-KEY-NVIDIA-HPC-SDK | sudo gpg --dearmor -o /usr/share/keyrings/nvidia-hpcsdk-archive-keyring.gpg
        echo 'deb [signed-by=/usr/share/keyrings/nvidia-hpcsdk-archive-keyring.gpg] https://developer.download.nvidia.com/hpc-sdk/ubuntu/amd64 /' | sudo tee /etc/apt/sources.list.d/nvhpc.list
        sudo apt-get update -y
        sudo apt-get install -y nvhpc-25-11
        cat<<'EOF' >> "$GITHUB_ENV"
        CC=/opt/nvidia/hpc_sdk/Linux_x86_64/25.11/compilers/bin/nvc
        CXX=/opt/nvidia/hpc_sdk/Linux_x86_64/25.11/compilers/bin/nvc++
        EOF

    - name: build and run test with NVHPC 25.11 on cmake
      run: |
        cmake -B build-cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DPROXY_BUILD_MODULES=FALSE
        cmake --build build-cmake -j
        ctest --test-dir build-cmake -j
        mkdir build-cmake/drop
        chmod +x tools/dump_build_env.sh
        ./tools/dump_build_env.sh "$CXX" build-cmake/drop/env-info.json

    # - name: build and run test with NVHPC 25.11 on meson
    #   run: |
    #     meson setup build-meson --buildtype=release -Dtests=enabled -Dbenchmarks=enabled --force-fallback-for=fmt
    #     meson test -C build-meson
    #     meson test -C build-meson --benchmark --test-args=--benchmark_list_tests=true

    - name: run benchmarks
      run: build-cmake/benchmarks/msft_proxy_benchmarks --benchmark_min_warmup_time=0.1 --benchmark_min_time=0.1s --benchmark_repetitions=30 --benchmark_enable_random_interleaving=true --benchmark_report_aggregates_only=true --benchmark_format=json > build-cmake/drop/benchmarking-results.json

    - name: archive benchmarking results
      uses: actions/upload-artifact@v4
      with:
        name: drop-nvhpc
        path: build-cmake/drop/
