on:
  workflow_call:
    inputs:
      branch:
        type: string
        required: false

jobs:
  bvt-msvc:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ inputs.branch }}

    - name: build and run test with MSVC
      run: |
        cmake -B build
        cmake --build build --config Release -j
        ctest --test-dir build -j

    - name: run benchmarks
      run: |
        .\build\benchmarks\Release\msft_proxy_benchmarks.exe
