on:
  workflow_call:

jobs:
  bvt-gcc:
    runs-on: ubuntu-24.04
    container: gcc:15
    steps:
    - uses: actions/checkout@v4

    - name: install dependencies
      run: |
        apt-get update
        apt-get install -y cmake ninja-build

    - name: check compiler version
      run: |
        g++ --version

    - name: build and run test with gcc 15
      run: |
        cmake -B build -GNinja -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_STANDARD=23 -DCMAKE_BUILD_TYPE=Release -DPROXY_BUILD_MODULES=TRUE
        cmake --build build -j
        ctest --test-dir build -j
        mkdir build/drop
        chmod +x tools/dump_build_env.sh
        ./tools/dump_build_env.sh g++ build/drop/env-info.json

    - name: run benchmarks
      run: |
        build/benchmarks/msft_proxy_benchmarks --benchmark_min_warmup_time=0.1 --benchmark_min_time=0.1s --benchmark_repetitions=30 --benchmark_enable_random_interleaving=true --benchmark_report_aggregates_only=true --benchmark_format=json > build/drop/benchmarking-results.json

    - name: archive benchmarking results
      uses: actions/upload-artifact@v4
      with:
        name: drop-gcc
        path: build/drop/
