name: Proxy-CI

on:
  push:
    branches: [ main, release/** ]
  pull_request:
    branches: [ main, release/** ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  run-bvt-gcc13:
    uses: ./.github/workflows/bvt-gcc13.yml
    name: run bvt with g++ 13

  run-bvt-clang15:
    uses: ./.github/workflows/bvt-clang15.yml
    name: run bvt with clang 15

  run-bvt-msvc14:
    uses: ./.github/workflows/bvt-msvc14.yml
    name: run bvt with msvc14 (vs2022)
